<p>Olá <%= @resource.email %>!</p>

<p>Alguem pediu lhe mandou esse email para resetar sua senha</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>se nao foi voce que pediu, apenas ignore</p>
<p>Sua senha antiga nao poderá ser utilizada para entrar na sua conta quando configurar a nova</p>
